<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
    {% block head %}
    <title>Rocketseat</title>
    {% endblock head %}
</head>
<body>
    <header>
        <div class="links">
            <a href="/teachers">Teachers</a>
            <a href="/students">Students</a>
        </div>
    </header>
    
    {% block content %}
    
    {% endblock content %}
</body>
</html>